/.vscode
/.idea

/.DS_Store*

.vs/
/bin
/obj

cl_01_HelloWord/bin
cl_01_HelloWord/obj

cl_02_ReadWrite/bin
cl_02_ReadWrite/obj

cl_03_BuiltinTypes/bin
cl_03_BuiltinTypes/obj

cl_04_/bin
cl_04_/obj

cl_05_/bin
cl_05_/obj


cl_06_/bin
cl_06_/obj

cl_07_/bin
cl_07_/obj

cl_08_/bin
cl_08_/obj

cl_09_/bin
cl_09_/obj

cl_10_/bin
cl_10_/obj

cl_11_/bin
cl_11_/obj

cl_12_/bin
cl_12_/obj

cl_13_/bin
cl_13_/obj

cl_14_/bin
cl_14_/obj

cl_15_/bin
cl_15_/obj

cl_16_Methods/bin
cl_16_Methods/obj

cl_17_MethodParams/bin
cl_17_MethodParams/obj

cl_18_Namespaces/bin
cl_18_Namespaces/obj

cl_19_Classes/bin
cl_19_Classes/obj

cl_20_StaticInstanceClass/bin
cl_20_StaticInstanceClass/obj

cl_21_Inheritance/bin
cl_21_Inheritance/obj

cl_22_MethodHiding/bin
cl_22_MethodHiding/obj

cl_24_HidingVsOverriding/bin
cl_24_HidingVsOverriding/obj

cl_25_Overloading/bin
cl_25_Overloading/obj

cl_26_Properties/bin
cl_26_Properties/obj

cl_27_useProperties/bin
cl_27_useProperties/obj

cl_28_Structs/bin
cl_28_Structs/obj

cl_29_ClassVsStructs/bin
cl_29_ClassVsStructs/obj

cl_30_Interfaces/bin
cl_30_Interfaces/obj

cl_31_ExplicitInterfaces/bin
cl_31_ExplicitInterfaces/obj
