/.vscode
/.idea

/.DS-Store*

.vs/
/bin
/obj

01-HelloWord/bin
01-HelloWord/obj

02-ReadWrite/bin
02-ReadWrite/obj

03-BuiltinTypes/bin
03-BuiltinTypes/obj

04-/bin
04-/obj

05-/bin
05-/obj


06-/bin
06-/obj

07-/bin
07-/obj

08-/bin
08-/obj

09-/bin
09-/obj

10-/bin
10-/obj

11-/bin
11-/obj

12-/bin
12-/obj

13-/bin
13-/obj

14-/bin
14-/obj

15-/bin
15-/obj

16-Methods/bin
16-Methods/obj

17-MethodParams/bin
17-MethodParams/obj

18-Namespaces/bin
18-Namespaces/obj

19-Classes/bin
19-Classes/obj

20-StaticInstanceClass/bin
20-StaticInstanceClass/obj

21-Inheritance/bin
21-Inheritance/obj

22-MethodHiding/bin
22-MethodHiding/obj

24-HidingVsOverriding/bin
24-HidingVsOverriding/obj

25-Overloading/bin
25-Overloading/obj

26-Properties/bin
26-Properties/obj

27-useProperties/bin
27-useProperties/obj

28-Structs/bin
28-Structs/obj

29-ClassVsStructs/bin
29-ClassVsStructs/obj

30-Interfaces/bin
30-Interfaces/obj

31-ExplicitInterfaces/bin
31-ExplicitInterfaces/obj
