/.vscode
/.idea

/.DS-Store*

.vs/
/bin
/obj

01-HelloWord/bin
01-HelloWord/obj

02-ReadWrite/bin
02-ReadWrite/obj

03-DataTypes/bin
03-DataTypes/obj

04-StringTypes/bin
04-StringTypes/obj

05-CommonOperators/bin
05-CommonOperators/obj

06-NullableTypes/bin
06-NullableTypes/obj

07-TypesConversion/bin
07-TypesConversion/obj

08-Arrays/bin
08-Arrays/obj

09-Comments/bin
09-Comments/obj

10-ControlStatement/bin
10-ControlStatement/obj

11-SwitchStatement/bin
11-SwitchStatement/obj

12-Loops/bin
12-Loops/obj

13-WhileLoops/bin
13-WhileLoops/obj

14-DoWhileLoops/bin
14-DoWhileLoops/obj

15-ForForEachLoop/bin
15-ForForEachLoop/obj

16-Methods/bin
16-Methods/obj

17-MethodParams/bin
17-MethodParams/obj

18-Namespaces/bin
18-Namespaces/obj

19-Classes/bin
19-Classes/obj

20-StaticInstanceClass/bin
20-StaticInstanceClass/obj

21-Inheritance/bin
21-Inheritance/obj

22-MethodHiding/bin
22-MethodHiding/obj

24-HidingVsOverriding/bin
24-HidingVsOverriding/obj

25-Overloading/bin
25-Overloading/obj

26-Properties/bin
26-Properties/obj

27-useProperties/bin
27-useProperties/obj

28-Structs/bin
28-Structs/obj

29-ClassVsStructs/bin
29-ClassVsStructs/obj

30-Interfaces/bin
30-Interfaces/obj

31-ExplicitInterfaces/bin
31-ExplicitInterfaces/obj
